/* You can add global styles to this file, and also import other style files */
body{
    color:white;
    background-image: url('https://assets.marthastewart.com/styles/img_520x520-highdpi/d17/mh_1036_spaghetti/mh_1036_spaghetti_hd.jpg?itok=3Yf-atEd');
    background-size: cover;
}